<div class="container">
    <div class="row no-gutters"  *ngFor="let item of workerArr">
    <img src="{{worker_image}}">

    <div class="info">
      <mat-list>

        <mat-label><b>Name :</b></mat-label><br>
        <mat-list-item><b>{{item.worker_name}}</b></mat-list-item>
        <mat-divider></mat-divider>

        <mat-label><b>Email Id :</b></mat-label><br>
        <mat-list-item>{{item.email_id}}</mat-list-item>
        <mat-divider></mat-divider>

        <mat-label><b>Address :</b></mat-label><br>
        <mat-list-item>{{item.address}}</mat-list-item>
        <mat-divider></mat-divider>

        <mat-label><b>Contact Details :</b></mat-label><br>
        <mat-list-item>{{item.mobile_no}}</mat-list-item>
        <mat-divider></mat-divider>

        <mat-label><b>Your Joining Date :</b></mat-label><br>
        <mat-list-item>{{item.joining_date}}</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <button (click)="onProfileEdit()">Edit Profile</button>
    </div>
    <button (click)="onImageEdit()">Add/Edit Image</button>
  </div>
