<div class="container">
<form [formGroup]="EditWorker" (ngSubmit)="onUpdateSubmit()">
  <h1 class="hh"><b>Edit Vehicle Assigned</b></h1>
  <div class="form-control">
    <mat-label><b>Status</b></mat-label><br>
    <select type="dropbox" formControlName="status" (change)="onChange()">
      <option value="In Process">In Process</option>
      <option value="Done" >Done</option>
    </select>
  </div>
  <div class="form-control">
    <mat-label><b>Remark :</b></mat-label><br>
    <textarea   formControlName="remark" type="text"></textarea>
  </div>
  <div>
    <button type="submit" class="btn">Sumbit</button>
    <button type="button" (click)="onClickBack()" class="can">Cancle</button>
  </div>
</form>
</div>
