<!-- <p>change-password works!</p> -->
<div formGroup="passChange" (submit)="onChangePassword()">
  <div>
    <mat-label><b>Enter Old Password :</b></mat-label><br>
    <input class="form-control" placeholder="Enter Old Password" formControlName="oldPass" type="text">
    <!-- <label class="alert alert-danger" *ngIf="addproduct.get('email_id').hasError('required') && !addproduct.get('email_id').pristine" >Email is required</label>
    <label class="alert alert-danger" *ngIf="addproduct.get('email_id').hasError('email') && !addproduct.get('email_id').pristine" >Email is Invalid</label> -->
  </div><br>

  <div class="form-groupup">
    <mat-label><b>Enter New Password :</b></mat-label><br>
    <input class="form-control" placeholder="Enter New Password" formControlName="newPass" type="text">
    <!-- <label class="alert alert-danger" *ngIf="addproduct.get('email_id').hasError('required') && !addproduct.get('email_id').pristine" >Email is required</label>
    <label class="alert alert-danger" *ngIf="addproduct.get('email_id').hasError('email') && !addproduct.get('email_id').pristine" >Email is Invalid</label> -->
  </div><br>

  <div class="form-groupup">
    <mat-label><b>Confirm Password :</b></mat-label><br>
    <input class="form-control" placeholder="Confrim Password" formControlName="confirmPass" type="text">
    <!-- <label class="alert alert-danger" *ngIf="addproduct.get('email_id').hasError('required') && !addproduct.get('email_id').pristine" >Email is required</label>
    <label class="alert alert-danger" *ngIf="addproduct.get('email_id').hasError('email') && !addproduct.get('email_id').pristine" >Email is Invalid</label> -->
  </div><br>

  <div>
    <button class="btn" type="submit">Change</button>
    <button class="btn" (click)="onClickBack()">Back</button>
  </div>
</div>
