<div class="container">
  <form autocomplete="off" formGroup="passChangeForm" (submit)="onChangePassword()">
    <h1 class="hh"><b>Change Password</b></h1>
    <div class="form-groupup">
      <div class="form-group" >
        <mat-label><b>Email Id :</b></mat-label><br>
        <input appAutoFocus class="form-control" placeholder="Enter Email" formControlName="email_id" type="text" matInput><br>
        <!-- <label class="alert alert-danger" *ngIf="passChangeForm.get('email_id').hasError('required') && !passChangeForm.get('email_id').pristine" >Email is required</label>
        <label class="alert alert-danger" *ngIf="passChangeForm.get('email_id').hasError('email') && !passChangeForm.get('email_id').pristine" >Email is Invalid</label> -->
      </div><br>
      <div>
        <mat-label><b>Old Password :</b></mat-label><br>
        <input class="form-control" type="password" placeholder="Enter Old Password" formControlName="oldPass">
        <!-- <label class="alert alert-danger" *ngIf="passChangeForm.get('oldPass').hasError('required') && !passChangeForm.get('oldPass').pristine" >Password is required</label> -->
      </div><br>
      <div>
        <mat-label><b>Confirm Old Password :</b></mat-label><br>
        <input class="form-control" type="password" placeholder="confirm Old Password" formControlName="confimOldPass">
          <!-- <label class="alert alert-danger" *ngIf="passChangeForm.get('confimOldPass').hasError('required') && !passChangeForm.get('confimOldPass').pristine" >Password is required</label> -->
      </div><br>
      <div>
        <mat-label><b>New Password :</b></mat-label><br>
        <input class="form-control" type="password" placeholder="Enter New Password" formControlName="newPass">
          <!-- <label class="alert alert-danger" *ngIf="passChangeForm.get('newPass').hasError('required') && !passChangeForm.get('newPass').pristine" >Password is required</label>
          <label class="alert alert-danger" *ngIf="passChangeForm.get('newPass').hasError('maxlength') && !passChangeForm.get('newPass').pristine" >Password must be 8 Digit</label> -->
      </div><br>
      <div>
        <button mat-raised-button id="Add Record"  name="fbutton" type="button" (click)="onForgotPasswordClick()" color="warn">Forgot Password ?</button>
      </div>
      <div>
        <button mat-raised-button id="Add Record" type="submit"   color="primary">Submit</button>
        <button mat-raised-button id="Add Record" (click)="onClickBack()" color="accent">Back</button>
      </div>
    </div>
  </form>
</div>
