<!-- <p>vehicle-viewmore works!</p> -->
<div class="container">
  <div class="info">
    <mat-list>
      <mat-list-item>{{vehicle_no}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{meter_reading}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{fuel_tank}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{remark}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item> {{complaints}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item> {{user_name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item> {{status}}</mat-list-item>
    </mat-list>
  </div>
</div>
