<!-- <p>vehicle-viewmore works!</p> -->
<div class="container">
  <mat-list>
    <mat-label><b>Vehicle No :</b></mat-label>
    <mat-list-item>{{vehicle_no}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-label><b>Meter Reading :</b></mat-label>
    <mat-list-item>{{meter_reading}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-label><b>Fuel Tank :</b></mat-label>
    <mat-list-item>{{fuel_tank}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-label><b>Remark :</b></mat-label>
    <mat-list-item>{{remark}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-label><b>Complaints :</b></mat-label>
    <mat-list-item> {{complaints}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-label><b>Worker Name :</b></mat-label>
    <mat-list-item> {{user_name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-label><b>Status :</b></mat-label>
    <mat-list-item> {{status}}</mat-list-item>
  </mat-list>
  <div>
    <button (click)="onClose()">Close</button>
  </div>
</div>
