<!-- <p>forgot-password works!</p> -->
<div>
  <form autocomplete="off" [formGroup]="forgotPassword" (ngSubmit)="onFogotClick()">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input appAutoFocus formControlName="email" required matInput>
      <mat-icon matSuffix class="material-icons-outlined">alternate_email</mat-icon>
      <mat-error *ngIf="forgotPassword.get('email').hasError('required') && !forgotPassword.get('email').pristine">E-mail Id is Required</mat-error>
      <mat-error *ngIf="forgotPassword.get('email').hasError('email') && !forgotPassword.get('email').pristine">Invalid Email Id</mat-error>
    </mat-form-field>
    <button type="button" mat-button color="pimary" (click)="onClickBack()">
      Back
    </button>
    <button  [disabled]="!forgotPassword.valid"  type="submit" mat-button color="accent">
      Send
    </button>
  </form>
</div>
