<div class="container">
  <form [formGroup]="WorkerloginForm" (ngSubmit)="onLoginClick()">
    <h1 class="hh">Login</h1>
    <div class="imgcontainer">
      <img  src="http://localhost:3000/Images/Logo/Logo.jpeg" alt="Avatar" class="avatar">
    </div>
    <div class="container">
      <input matInput formControlName="email_id" type="text" placeholder="Your Email" >
      <mat-error *ngIf="WorkerloginForm.get('email_id').hasError('required') && !WorkerloginForm.get('email_id').pristine ">Email should not be empty</mat-error>
      <mat-error *ngIf="WorkerloginForm.get('email_id').hasError('email') && !WorkerloginForm.get('email_id').pristine ">Invalid Email</mat-error>
      <br>
      <br>
      <input type="password" matInput formControlName="password" placeholder="Your Password">
      <mat-error *ngIf="WorkerloginForm.get('password').hasError('required') && !WorkerloginForm.get('password').pristine ">Email should not be empty</mat-error>
    </div>
    <button class="btn info" type="submit">Login</button>
  </form>
</div>
