.sidenav-container
{
  height: 100%;
}

.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: blue;
  position: sticky;
  top: 0;
  z-index: 1;
}

.button:hover
{
  opacity: 0.8;
}
.mybtn
{
  width:10%;
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 5%;
  cursor: pointer;
}

