<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><i class="material-icons">home_work</i>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/nav/user"><i class="material-icons">supervised_user_circle</i>User Table</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Welcome to UpKeepAutoServicing <i class="material-icons">account_circle</i> {{email_id}}</span>
      <button class="btn1" (click)="onSignupClick()">Signup</button>
      <button (click)="onLogoutClick()" class="btn">Logout</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

